<!-- 後台導覽列區域開始 -->
<%= render "admin/shared/admin_navbar" %>
<!-- 後台導覽列區域結束 -->

<!-- 麵包屑區域開始 -->
<%= render "admin/products/list_area" %>
<!-- 麵包屑區域結束 -->

<!-- 訊息條區域開始 -->
<%= render "admin/shared/message" %>
<!-- 訊息條區域結束 -->

<!-- 產品表格區域開始 -->
<section class="product_table">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-12 col-xl-12">
				<h2>data table</h2>
				<div class="table_data table_rwd">
					<table class="table">
						<caption>List of Products</caption>
						<thead>
							<tr>
								<th>Id</th>
								<th>Name</th>
								<th>產品分類</th>
								<th>原價</th>
								<th>特價</th>
								<th>狀態</th>
								<th></th>
							</tr>
						</thead>
						<% @products.each do |product| %>
							<tbody>
								<tr class="item">
									<td><%= product.id %></td>
						      <td><%= product.name %></td>
						      <td><span class="product_category">產品分類</span></td>
						      <td>$<%= product.basic_price %></td>
						      <td>$<%= product.special_price %></td>
						      <td>狀態</td>
						      <td class="text-center">
						      	<span class="publish">
						      		<a href="#" data_toggle="tooltip" title="發佈">
						      			<i class="fas fa-step-forward"></i>
						      		</a>
						      	</span>
						      	<span class="edit">
						      		<%= link_to edit_admin_product_path(product), data_toggle: "tooltip", title: "編輯" do %>
						      			<i class="fas fa-pencil-alt"></i>
						      		<% end %>
						      	</span>
						      	<span class="delete">
						      		<%= link_to admin_product_path(product), data_toggle: "tooltip", title: "刪除", method: :delete, data: {confirm:"Are you sure?"}  do %>
						      			<i class="fas fa-trash-alt"></i>
						      		<% end %>
						      	</span>
						      </td>
								</tr>
								<tr class="spacer"></tr>
							</tbody>
						<% end %>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- 產品表格區域結束 -->

<script>
	$(function(){
		$('[data_toggle="tooltip"]').tooltip();
	});
</script>